@model MyLibrary3.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>מחיקת ספר</h1>

<h3>האם אתה בטוח שברצונך למחוק ספר זה?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shelf.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookSet)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחק" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לרשימת הספרים</a>
    </form>
</div>
